@charset "utf-8";
img {
    pointer-events: none;
	max-width: 40%;
}

.footer{
	padding: 1px;
	width: 100%;
	background-color: #40593C;
	color: #FFFAA6;
	font-size: 14px;
	position: relative;
	top: auto;
}

.copy {
	text-align: center;
	position: relative;
}